/* src/components/BottomNavigation.css */
.bottom-navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #9c9b9b;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-radius: 20px;

  }
  
  
  .nav-item {
    width: 14%;
    padding: 10px;
  }

  .nav-item span {
    font-family: 'Cinzel Decorative', cursive;
    font-size: 13px;
  }
  .img-class{
    margin-left:6px;
  }
  
  .img-reminder {
    margin-left:24px;
  }

  .img-greetings {
    margin-left:24px;
  }
  
  .img-contact {
    margin-left: 20px;
  }